<!DOCTYPE html>
<html>
<head>
<meta http-equiv="refresh" content="3;url={{ '/dashboard' if session['role']=='admin' else '/books' }}">
<style>
body{
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}
.loader{
    border:8px solid #f3f3f3;
    border-top:8px solid #3498db;
    border-radius:50%;
    width:80px;
    height:80px;
    animation:spin 1s linear infinite;
}
@keyframes spin{
    100%{transform:rotate(360deg);}
}
</style>
</head>
<body>
<div>
<div class="loader"></div>
<h2>Loading Dashboard...</h2>
</div>
</body>
</html>
